# Python Basics

Task - 1:

To create a pandas dataframe with numpy random values, you can use the following code:

In [ ]:
import pandas as pd
import numpy as np

data = np.random.rand(4, 4)
df = pd.DataFrame(data)

Task - 2:

To rename the column names of the dataframe, you can use the rename() function:

In [ ]:
df = df.rename(columns={0: 'Random value 1', 1: 'Random value 2', 2: 'Random value 3', 3: 'Random value 4'})

Task - 3:

To find the descriptive statistics of the dataframe, you can use the describe() function:

In [ ]:
statistics = df.describe()
statistics

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.692183        0.391430        0.625335        0.343537
std          0.154869        0.342807        0.348608        0.379526
min          0.506873        0.037106        0.234084        0.075982
25%          0.597638        0.214697        0.385177        0.141492
50%          0.705372        0.337786        0.646805        0.196623
75%          0.799917        0.514519        0.886962        0.398668
max          0.851116        0.853041        0.973646        0.904919

Task - 4:

To check for null values and find the data type of the columns, you can use the info() function:

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

Task - 5:

To display the 'Random value 2' and 'Random value 3' columns using the location method and index location method, you can use the following code:

In [ ]:
# Using the location method
random_value_2_3_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(random_value_2_3_loc)

# Using the index location method
random_value_2_3_idx = df.iloc[:, [1, 2]]
print(random_value_2_3_idx)

   Random value 2  Random value 3
0        0.037106        0.973646
1        0.853041        0.858068
2        0.273894        0.435542
3        0.401679        0.234084
   Random value 2  Random value 3
0        0.037106        0.973646
1        0.853041        0.858068
2        0.273894        0.435542
3        0.401679        0.234084